py2neo
rdflib
fuzzywuzzy[speedup]
sentence-transformers
pykeen
torch
dgl
scikit-learn
matplotlib
networkx
pyvis
streamlit
tqdm
pandas
numpy<2



streamlit
seaborn
owlrl 
kafka-python 

nvdlib
pyattck
transformers

gym
stable-baselines3

shimmy>=2.0 
